AuthType Basic
AuthUserFile "C:/wamp64/www/ppe-vds/backoffice/.htpasswd"
AuthName "Administration"
require valid-user

# protection du fichier .htpasswd
<Files ".htpasswd">
    Require all denied
</Files>
